[2019-03-26 14:54] pbuttigieg opened #1 "Document clustering"
At the AtlantOS symposium at UNESCO, a desire to adapt the UX use the tagging to cluster submissions on similarity and to display smaller/more focused and informal best practices around those that are peer reviewed, come from a major consortium (which went through internal review), and/or are endorsed by some authority (e.g. a GOOS Panel).

The search will prioritise those that have higher QC, wit

[2019-05-16 12:36] pbuttigieg opened #2 "Add Working group about page"
Add a web page or a link/redirect to an external webpage describing the OBPS Working Group and Steering Committee.

A decision on where the page will be hosted is yet to be made.

[2019-05-16 12:54] shoreline92 commented on #2
Is this the correct topic heading. - I thought we were talking about an OBPS website (ie NOT the repository) within which there will be sub pages including one about the Steering Group  (which will include some history of the OBPWG?).

[2019-07-25 13:06] arnounesco opened #5 "add GOOS logo to .org interface"
add GOOS logo to .org interface

this ticket replaces http://bugtracker.iode.org/view.php?id=508

[2019-07-25 13:06] arnounesco commented on #5
![GOOS-logo](https://user-images.githubusercontent.com/44463566/61876697-c6f5f200-aeed-11e9-9b26-e31cbf46a9b1.jpg)

[2019-07-25 13:09] arnounesco opened #6 "Please add to .org the Unesco Privacy Policy"
Please add to .org the Unesco Privacy Policy Unesco Privacy Policy: https://en.unesco.org/this-site/our-online-privacy-policy http://www.unesco.org/new/en/terms-of-use/terms-of-use/privacy/

[2019-07-25 13:18] arnounesco opened #7 "cron to update .org after .net changes"
any edits (even deletion of record) to the .NET record after the RSS feed to .ORG has happened are not picked up by .ORG.
Have asked if a reindexing chron could be run so that any retrospective record changes are picked up.

this replaces http://bugtracker.iode.org/view.php?id=506

[2019-07-26 07:05] arnounesco commented on #6
where to place it : for .ORG link alongside Disclaimer ON bottom bar

[2019-07-29 14:42] pbuttigieg opened #9 "Dashboard: Documents by EOV"
Create a dashboard to summarise the number of documents linked to each EOV, highlighting those that have been endorsed by a GOOS Panel.

Likely to be undertaken by CSIC.

[2019-08-26 18:46] paulpilone opened #12 "Improve deployment documentation for the Search API component and percolator script."
The Deployment.md documentation is missing instructions for deploying the Search API component of the OBP stack. It's also missing mention of (and instructions for running) the script required to build the percolator index after ingesting a new ontology.

[2019-08-26 19:01] paulpilone opened #13 "Fix the indexer function to support the correct Elasticsearch index region."
The indexer.js file sets an environment variable:

`const region = process.env.REGION || 'us-east-1';`

which is used to build the requests for the Elasticsearch index. However, the CloudFormation template that deploys the function does not support a REGION parameter nor does it set the environment variable for you. The Cloudformation template should define a environment variable in function defin

[2019-08-28 13:21] arnounesco opened #14 "Redirect NET to ORG"
Redirect NET to ORG, without loosing .net to enter stuff!!!!

see also http://bugtracker.iode.org/view.php?id=536

[2019-08-28 13:28] arnounesco opened #15 "incuded metadata fields in the ORG"
Ensure all the new metadata fields are incuded in the ORG upload ie metadata content from these fields is searchable
EH has included this with EOV field so possibly could be a joint EOV/ECV field?
Adding the ECVs to the OBPS tech would be more straightforward as most of them can go into ENVO - ASK PLB FOR CLARIFICATION

PLB: Best to use the ontology IRIs for these. Arno, contact me when you get he

[2019-08-29 07:16] arnounesco opened #16 "documentation on the index updater"
we need information/documentation on the script that can be run to update the index after changes have been made to entries in the repository.
Paul has made and tested that script on 23/08/2019.

[2019-08-29 13:34] shoreline92 commented on #15
In the initial E84 phases a list of metadata fields for .ORG to search across was submitted.  Scott has agreed that E84 misinterpretated the list and a lot of metadata fields were missing.  The full field list was agreed and Paul was to include the additional metadata fields (probably at the same time as the re-indexing).  It does not look like it has been done  A test is to search for GLOMICON in

[2019-09-04 00:24] MikeBendorf11 commented on #12
Paul helped us with this. It should end up looking something like this:

[code]

[2019-09-12 07:42] arnounesco commented on #16
any news on this, waiting for this issue to be solved to solve https://github.com/iodepo/OceanBestPractices/issues/14

[2019-09-12 07:43] arnounesco commented on #12
any news on this, waiting for this issue to be solved to solve https://github.com/iodepo/OceanBestPractices/issues/14

[2019-09-14 03:08] MikeBendorf11 commented on #12
#17  solves it I think

[2019-10-01 17:01] pbuttigieg opened #18 "Create an OWL/RDF compliant WoRMS taxonomy import"
Well-adopted and used in the marine community. Develop similar to the NCBITax import that lives in OBO, perhaps even include WoRMS in OBO.

[2019-10-08 17:49] pbuttigieg opened #19 "Explore Apache Tika..."
...for NLP and NER across media types

[2019-12-04 14:51] pbuttigieg opened #20 "Landing page descriptions of terminologies"
Visible button on landing page providing explanation of what terminologies (ontologies, thesauri, etc) are.

[2019-12-04 14:54] pbuttigieg opened #21 "Embed visualisation of knowledge neighbourhood to improve UX"
Couple the knowledge neighbourhood exploration to visuals/UX that is more intuitive and user friendly. Need user consultation on what works.

[2019-12-04 14:56] pbuttigieg opened #22 "Provide thematic search UXs"
Some users may want to search the corpus from a specific axis (e.g. devices, environments, etc) - a tailored search interface for each of these major types (and associated UX) is desired. Providing these entry points would make the UX smoother.

[2019-12-04 15:01] pbuttigieg opened #23 "Develop request/issue forwarding mechanism to terminology services"
Ease the request for revision - forward to issue trackers for non-GitHub users. Communicate that if the content is not fit for use that it can be changed and the resources we use are responsive to requests for change/update.

[2019-12-05 17:53] pbuttigieg opened #24 "Allow section-level endorsement of documents by reviewers/panels"
At times, Panels / reviewers will endorse components of methodological documents in the OBPS. The technology / metatdata should work towards allowing this granularity, promoting the synthesis of submissions with complementary and endorsed parts.

[Discussed at the PEGASuS / GOOS BioEco Panel meeting 2019-12-05]

[2019-12-05 18:04] pbuttigieg opened #25 "Track citations of each document in literature"
Crawl the peer reviewed literature and publications from other professional sources to evaluate the uptake / use / citation of an OBPS DOI (or a DOI mapped to that DOI).

Present this on the interface and dashboards

[2019-12-05 18:15] pbuttigieg opened #26 "Formalise cross-referencing of endorsed BPs with EOV Spec sheets"
For those EOV Spec sheets that are at least in v1, plan a reciprocal mapping between the spec sheets and endorsed BPs. This would need the spec sheets to be more than documents - more like dynamic web-pages with section-level IRIs and stable markup.

[2019-12-05 18:19] pbuttigieg commented on #26
The section-level endorsement should not be parsed as a complete endorsement of the document, thus would need a custom metadata-field.

The document level endorsement will be the degree needed to reach the EOV spec sheet.

[2019-12-05 18:24] pbuttigieg commented on #24
Section-level endorsements are not necessarily document-level endorsements.

Multiple methods may be valid for reporting on the same facet of an EOV.

Structured documents / positional information required to zero in on the section.

[2019-12-05 18:29] pbuttigieg opened #27 "Generate auto-creation of EOV sections based on endorsement tags"
Once a document (or section xref #24) has been endorsed by an EOV lead/Panel, it should be auto-added to an EOV-specific community on the OBPS:

![image](https://user-images.githubusercontent.com/2276146/70262930-8b214200-1795-11ea-901c-adc7d4d1b91f.png)

[2019-12-05 18:34] pbuttigieg opened #28 "Link submissions to the networks / programmes they come from"
An expansion of the metadata field list, ideally against a controlled list of networks/programmes (new or unregistered programmes would have to register, xref to ODIS work).

![image](https://user-images.githubusercontent.com/2276146/70263285-4053fa00-1796-11ea-833e-3ad3d2c0d021.png)

This field would be distinct from publisher - and can have multiple entries identifying the networks/programmes it

[2019-12-05 18:36] pbuttigieg commented on #28
This could likely be linked to the communities/collections aggregations - auto-generating or auto-adding to communities (#27)

[2019-12-05 18:44] pbuttigieg opened #29 "Consider two-step EOV endorsement process"
The first step would be a general pre-endorsement. The second would necessitate more metadata on the supporting, derived, and other associated variables in the EOV spec sheet

[2019-12-05 19:31] evsatt commented on #28
In order to sort efficiently for the purposes of the EOVs Best Practices, the metadata on EOVs could have logic that includes a selection box of broad EOVs, sub-variables for each EOV, and methods specific to the measurements of each sub-variables. In this way, we will be able to easily see the methods that correspond to each community within the EOV networks (community = EOV sub-variable & method

[2019-12-06 03:00] smrgeoinfo commented on #29
EOV is essential_ocean_variable. Took me a while to figure that out... put a note here in case anyone else has the same question.

[2019-12-11 02:49] justinykuo commented on #20
Hey @pbuttigieg!

If you have the explanations of what the terminologies are, I'm happy to take this.

Additionally, how would you like the terminologies displayed? E.G. In a modal (like the `disclaimer`)?  And where would you like the button?

Attached image for suggestion/reference

![Screen Shot 2019-12-10 at 21 41 10 PM](https://user-images.githubusercontent.com/26318431/70587001-c73e1380-1b96

[2019-12-16 16:01] pbuttigieg commented on #20
Hi @justinykuo - thanks!

We had some text from the Polar Data Forum that would work for now:

A list of terms controlled by some authority - e.g. a dropdown list.
Glossary
A collection of terms and their definitions, possibly with synonyms - e.g. NSIDC's Cryosphere Glossary: https://nsidc.org/cryosphere/glossary
Thesaurus
A structured controlled vocabulary where each term is annotated with inform

[2019-12-16 16:03] pbuttigieg commented on #28
@evsatt I'm assuming we'd have to build that structure based on the spec sheets right? There's no ready-to-use structured representation I'm aware of

[2019-12-16 16:32] evsatt commented on #28
@pbuttigieg That sounds correct to me. Although, we may have to get additional information for the methods for each EOV, since I don't think all EOV spec sheets have all methods.

[2019-12-16 23:09] justinykuo commented on #20
Hey @pbuttigieg ,

Here's the PR for this: https://github.com/iodepo/OceanBestPractices/pull/31

I tried to attach a screen recording, but I'm not sure if it went through. Thanks!

[2020-01-16 17:20] pbuttigieg opened #32 "Add "Endorsements" metadata fields"
xref #24 #27 #29

This field will have links to documents submitted by endorsing bodies (e.g. GOOS Panels) that will also be uploaded in the OBPS. For example:

Key | Value
---|---
Endorsement | [DOI of GOOS endorsement document]

[2020-01-16 17:59] pbuttigieg commented on #32
The metadata of the endorsement document can be parsed for the identification of the group giving the endorsement. We can use that as the basis to add visual stamps etc on the BP's landing page.

[2020-01-16 18:07] pbuttigieg opened #33 "Auto-tweet new submissions from RSS feed"
Grab new entries in the RSS feed and push to our Twitter channel.
Intelligent hash-tagging would be a nice-to-have feature, if selected metadata fields can be parsed.

[2020-01-16 18:19] pbuttigieg commented on #33
We'll also have to think about how to prune out excess bibliographic material.

Example citation:

Example tweet:
https://twitter.com/OceanPractices/status/1217873503455731714

[2020-02-07 10:44] pbuttigieg commented on #32
There was a request from the BioEco Panel to have some mechanism to flag documents that were reviewed during each endorsement run, so other Panel members can avoid redundant work.

[2020-02-07 10:45] pbuttigieg commented on #28
This controlled list should come from somewhere central, like a variant of ODISCat or perhaps a JCOMMOPS list?

[2020-02-10 10:42] sjskhalsa opened #35 "Use gazetteer service to identify documents having Arctic relevance"
Eight circumpolar countries participating in the Arctic SDI have combined their official gazetteer services. The API supports Latin, Cyrillic and Syllabic character sets. available at: https://arctic-sdi.org/services/general-introduction/
Evaluate options for using the service to identify existing and incoming documents that have Arctic relevance.

[2020-02-20 14:53] pbuttigieg commented on #29
I'll update the title

[2020-03-06 11:15] arnounesco opened #36 "obp-scheduler-function-staging is throwing an exception"
from the mail from Paul to Arno (21/02/2020) :

I started to look at why Elasticsearch was empty and found that the obp-scheduler-function-staging is throwing an exception (I found this by looking at the CloudWatch Logs for this function):

    { "errorType":
    "Runtime.ImportModuleError",
    "errorMessage":
    "Error: Cannot find module 'xml2js'\nRequire stack:\n- /var/task/scheduler.js\n- /v

[2020-03-17 09:26] #36 closed

[2020-04-02 08:35] arnounesco commented on #14
done, can be tested on the new search site [https://search.oceanbestpractices.org](https://search.oceanbestpractices.org)

[2020-04-02 08:35] #14 closed

[2020-04-02 08:36] arnounesco commented on #16
I tested the bulk indexer but got errors

Posting handle 11329/110...

Error parsing parameter '--message': Unable to retrieve http://hdl.handle.net/11329/110: received non 200 status code of 302

[2020-04-22 15:56] pbuttigieg opened #38 "Controlled vocabularies not retrieved during submission process"
During the submission of a new document, some metadata fields that have links to controlled vocabularies have issues. The links do not resolve, giving a "Not Found" error
[code]

For example:

[2020-05-07 08:11] arnounesco opened #39 "bulk indexer output"
the output of the bulk indexer does noet really reflect if the indexing was succesfull or not. It would be handy if that could change so there is an immediate indication that action has to be taken to solve problems with the indexing.

[2020-05-09 11:56] paulineobps opened #40 "To provide Arctic view on repository make links"
https://arcticpractices.org  ::  link to https://repository.oceanbestpractices.org/handle/11329/1291
https://arcticpractices.net  ::    link to https://repository.oceanbestpractices.org/handle/11329/1291
https://arcticpracticespilot.org ::  link to https://repository.oceanbestpractices.org/handle/11329/1291
https://arcticpracticespilot.net ::  link to https://repository.oceanbestpractices.org/hand

[2020-05-09 11:59] paulineobps commented on #32
An aggregated edit and additonal metadata fieds document has been produced at https://drive.google.com/file/d/1PWFy5vNRiYWQgMHwWz08t8EC6SvgmqZ8/view?usp=sharing.  It is going out with RFP for upgrade, but still may need to be done

[2020-05-11 00:26] paulineobps opened #41 "Serious problem with search logic on UI."
examples
IMOS protocol
can be found under title but not found under All Fields
go-ship nutrient
2 results but not relevant  (there should 20+)

[2020-05-18 17:22] paulpilone commented on #41
@paulineobps Looked into this a little bit and I think it's related to how we're currently construction queries based on the terms in the search bar. By default, a single term entered in the search bar ends up being a quoted "exact match" search.

For example, searching "IMOS protocol" will process the term as a single exact match. So the term "IMOS protocol" must appear in that order. If instead

[2020-05-19 23:55] paulineobps opened #42 "Bulk Indexer (re-index on UI) please implement a chron"
Bulk Indexer (re-index on UI) please implement a chron to re-index all documents, metadata etc every 48 hours

[2020-05-30 14:02] paulineobps opened #43 "Display OBPS record google analytic metric on the UI"
GA provides download metrics for each OBPS record, but it can only be accessed on the DSpace repository.  We need to display this download metric on the individual record in the UI results display.  This metric is a real selling point for OBPS

[2020-06-04 19:19] paulineobps opened #44 "OBPS website and UI have lost display of number of BP in repository_20200604"
OBPS website and UI have lost display of number of BP in repository Thu 4 Jun 2020

[2020-06-08 20:23] #41 closed

[2020-06-11 13:23] arnounesco commented on #44
Pauline confirmed that this is solved

[2020-06-11 13:23] #44 closed

[2020-06-11 16:09] paulineobps commented on #40
Believe this has been **done**?

[2020-06-11 16:12] paulineobps opened #46 "OBPS thumbnails not generating on DSPACE repository"
OBPS thumbnails not generating on DSPACE repository for the last two days

[2020-06-12 15:44] jkarstensen commented on #25
maybe this needs a link with Google scholar? The altimetric will not do the citation job I believe

[2020-06-12 16:19] jkarstensen commented on #9
if the two other GOOS panels do not want to be involved in the endorsement process the strategy need to be adapted.
For physics and biogeochemistry clearly the observing networks spell out the endorsement and this is done according to variables (not EOVs) . In practical terms - see the GO-SHIOP and other manuals - all these are already "endoresed"

[2020-06-17 08:17] arnounesco commented on #40
this has been done

[2020-06-17 08:17] #40 closed

[2020-06-17 08:19] arnounesco commented on #46
Pauline,
this is indeed not the correct place to put this, I'm not sure we event want a github issue for such issues as they are way to urgent and are often not related to code that needs to be changed

[2020-06-17 08:19] #46 closed

[2020-08-28 11:05] pbuttigieg opened #47 "Examine and fix tag exploration bugs"
@paulpilone did something change in the backend relating to the semantic neighbourhood exploration?
It seems that the tag exploration isn't working as smoothly / evenly as it was before.

Looks okay for CHEBI and the NERC Vocabs, but the neighbourhood for ENVO classes isn't always displayed.
To replicate
1. Search for "sea ice"
2. Click on "View tags" for the first hit (Sea-Ice Information Service

[2020-09-01 18:16] paulpilone opened #48 "Improve deployments by migrating to Serverless Framework."
Serverless Framework (https://www.serverless.com/) has become almost the standard now for managing serverless deployments and OBP is a perfect candidate for it. There are a number of benefits to migrating the CloudFormation templates to this framework including deployment times and complexity.

Each "component" of the app can become a service. Resources such as Elasticsearch can still be defined w

[2021-06-11 06:49] pbuttigieg opened #49 "Add UN vocabs to tagging stack"
Key vocabs found [here](https://research.un.org/en/un-resources/terminology)

[2021-10-22 17:27] #13 closed, assigned to paulpilone

[2021-11-10 18:12] paulpilone opened #82 "SPARQL query(ies) to extract labels for tagger index after ingesting a new ontology."
We're introducing dynamic ingest of ontologies and therefore are updating the tagging routine to respond when a new ontology is added to Neptune. The tagging routine needs to extract the labels from the new ontology in order to index them into the tagging index in Open Search. We need a SPARQL query that we can use to perform this as soon as a new ontology is loaded into Neptune. If we need to sup

[2021-11-10 18:13] paulpilone commented on #82
Currently, we're only indexing the labels themselves. Synonyms and like words are fetched dynamically on the search side.

[2021-11-11 10:59] pbuttigieg commented on #82
Thanks @paulpilone

For an OBO ontology, the SPARQL query would be something like this (sandboxing [here](http://www.ontobee.org/sparql)):

[code]

This is the case - as not all ontologies / vocabularies in the system will be from OBO.
Thus, we should have a set of SPARQL queries that target the different batches of terminologies (NERC, OBO, etc) and generate the same tables as output, such that t

[2021-11-11 16:25] paulpilone commented on #82
@pbuttigieg Thanks! Probably a dumb question but how can we determine which ontology is which? Is that something we can extract from the document itself or something we just need to provide during the ingest process? I assume this will be true for other queries so we'll have to be able to determine this beyond just the ingest process.

[2021-11-11 16:56] pbuttigieg commented on #82
@paulpilone quite a good question. As you see above, the query identifies the target "named graph" via some sort of identifier in a FROM clause. In the case above, that's the identifier used by OntoBee. I'm not familiar with Neptune, but if - during ingest - you can name the various imports, perhaps those names can be used in similar FROM clauses.

Alternatively, we can build the One Query To Rule

[2021-11-30 16:42] ghost opened #93 "Replace lib/open-search-client with @elastic/elasticsearch"
[@elastic/elasticsearch](https://www.npmjs.com/package/@elastic/elasticsearch)

We'll need to handle AWS auth with something like [http-aws-es](https://www.npmjs.com/package/http-aws-es) or [aws-elasticsearch-js](https://www.npmjs.com/package/aws-elasticsearch-js).

[2021-12-06 21:42] paulpilone opened #109 "Replace Ingest Queue with SNS utils and batch messaging."
Consider creating `lib/sns-utils.ts` with:

[code]

With that utility, this could be refactored to something like:

[code]

That feels a bit easier to read.

_Originally posted by @marchuffnagle in https://github.com/iodepo/OceanBestPractices/pull/106#discussion_r762459358_

[2021-12-09 14:23] paulpilone commented on #82
@pbuttigieg We're ready to test this out in development. In order to support the ontologies we know about we'll need queries for:

[X] - CHEBI
[X] - ENVO
[X] - SDGIO
[ ] - L05 (http://vocab.nerc.ac.uk/collection/L05/current/)
[ ] - L06 (http://vocab.nerc.ac.uk/collection/L06/current/)
[ ] - L22 (http://vocab.nerc.ac.uk/collection/L22/current/)
[ ] - WoRMS (http://www.marinespecies.org/)

We're alm

[2021-12-09 14:29] paulpilone opened #116 "Need WoRMS taxonomy in Neptune compliant format for ingest."
For OBP-243 we've been asked to import the WoRMS taxonomy (http://www.marinespecies.org/). We'll need that in a Neptune compliant format and should be ready to test the new ingest process with it.

Neptune formats: https://docs.aws.amazon.com/neptune/latest/userguide/sparql-media-type-support.html

[2021-12-09 14:35] paulpilone opened #117 "Need SPARQL query for fetching synonyms and like words."
When the user searches by keyword they have the option to ask for synonyms and like words to be included in the search query. We need a SPARQL query that supports finding those words based on the keyword entered in the search field.

For example, the current query that performs this looks like:

[code]
Which only works because we know exactly which ontologies we've ingested - and even then this qu

[2021-12-09 14:38] paulpilone opened #118 "Need SPARQL query to build relationship graph from a selected term."
The user is able to select an existing term and the application should display the relationships (defined by IODEPO) for that term. We need SPARQL queries that can build that relationship for a given term. I assume we'll need queries specific to each ontology (or at least groups of ontologies). I can offer the current query as an example but it's so complex (and wrong) that I'm not sure it'll be o

[2021-12-09 14:39] paulpilone commented on #117
We'll need queries that support at least the following ontologies:
[ ] CHEBI
[ ] ENVO
[ ] SDGIO
[ ] L05
[ ] L06
[ ] L22
[ ] WoRMS

[2021-12-09 14:49] paulpilone opened #119 "Need stop word lists for all supported ontologies."
OBP-250: As an admin, I want to be able to upload a text file with arbitrary terms for each vocabulary, to help reduce less meaningful search results.

We need the list of terms for at least the following ontologies:
[ ] CHEBI
[ ] ENVO
[ ] SDGIO
[ ] L05
[ ] L06
[ ] L22
[ ] WoRMS

It'd probably be easiest of those files were in csv format but whatever is easiest for now and we can decide on the for

[2021-12-15 14:37] pbuttigieg commented on #116
It seems that they distribute in DwC CSVs - were you able to secure that? http://www.marinespecies.org/usersrequest.php

Once you have it, you can convert it into RDF/XML with tools like https://any23.apache.org/, that should be importable into Neptune in that form. The relations may need some tweaking to make sense.

[2021-12-15 14:44] pbuttigieg commented on #119
A generic stack of stopwords is fine for now - you can use the NLTK library's list as described [here](https://byteiota.com/stopwords/).

The key is to make sure this list is in a place the IODE maintainers can get to and edit easily when we want to adapt/extend it. Similar to the store of SPARQL query.

Additionally, remove all terms with <=2 characters from these ontologies.

Verify that only th

[2021-12-15 16:14] pbuttigieg commented on #118
The semantic neighbourhood would be any OWL class or SKOS concept linked to the target term with a meaningful relationship.

To make this easier for devs/maintainers and less SPARQL-focused, I suggest we do the following:

### Step 1

Get all the `subject - predicate - object` triples from the target ontology / thesaurus with some filtering as follows...

For an OWL ontology, we want to filter awa

[2021-12-16 09:29] pbuttigieg commented on #117
Similar to #118, I think it will be more efficient and maintainable to run simple, bulk SPARQL queries  - triggered by update of any of the resources listed - that would extract all synonyms and like words for each of our terminologies once. That result set (in TSV or similar) can be used with more generic and broadly maintainable scripts to match a tag to its list of exact synonyms, alternative l

[2021-12-16 10:53] pbuttigieg commented on #117
Given the above, the flow would be:

1. New terminology acquired (in SKOS, OWL, etc) or existing terminology update acquired (our side)
2. Terminology converted to RDF (our side)
3. RDF added to import bucket / queue, triggers step 4
4. Neptune automatically ingests RDF as named graph (@paulpilone is this run by a SPARQL query? The IODE maintainer should be able to set the name, which would be use

[2021-12-20 17:07] paulpilone commented on #119
We incorporated the list from the NLTK library.

[2021-12-20 17:07] #119 closed, assigned to nobody

[2021-12-20 17:13] paulpilone commented on #20
Closing this because the work was merged in awhile ago.

[2021-12-20 17:13] #20 closed

[2021-12-21 18:27] paulpilone commented on #118
I don't believe the above query works for obo ontologies. For example running that query against ENVO only results in ~36 labels and I'm pretty sure it has more than that.

Also tried the following query against L05 (SKOS) and it returned 0 results:

[code]

[2022-05-10 15:46] paulpilone opened #160 "Change "Search Options" button label to "Filter Options"."
Label should be changed on both the home screen and search results.

[2022-05-10 18:46] paulpilone opened #162 "Update citations help text."
Change to:

[2022-05-10 19:15] paulpilone opened #164 "Update copy on first visit screen."
REWORD:

[2022-05-10 20:31] paulpilone opened #166 "Update Contact Us link."
Should go to: https://repository.oceanbestpractices.org/feedback

[2022-05-10 20:40] paulpilone commented on #166
@arnounesco The website is correctly linking to the URL in the description but that results in an Internal Server Error served from repository.oceanbestpractices.org.

[2022-05-10 21:01] paulpilone opened #167 "Add Ocean Modeling best practice template."
Templates drop drown should have 4 in total:

Data Management     https://repository.oceanbestpractices.org/handle/ONEONETZHREETWO9/ONETWO45
Ocean Applications   https://repository.oceanbestpractices.org/handle/ONEONETZHREETWO9/ONETWO46
Ocean Modelling       https://repository.oceanbestpractices.org/handle/ONEONETZHREETWO9/ONE649
Sensors                      https://repository.oceanbestpractices.o

[2022-05-10 21:17] paulpilone opened #169 "Footer logos should have correct links."
Logos at the left side should have links to https://iode/.org and https://goosocean.org/

[2022-05-11 14:36] paulpilone opened #170 "Search term is removed when the user chooses a search option."

[2022-05-13 19:09] paulpilone opened #172 "Highlight cover of search page top bar links is difficult to read."
When you hover over a link in top bar on the search page the highlight color changes to a dark gray that is difficult to see. Update the highlight color.
![Screen Shot 2022-05-13 at 2 59 09 PM](https://user-images.githubusercontent.com/981227/168373826-37f96ffa-13a8-4cd2-ab58-bcad2c861d14.png)

[2022-05-16 20:57] paulpilone opened #174 "Change bread crumb copy for "Search OBP" on search results page."
Should be "Search OBPS"
<img width="383" alt="Screen Shot 2022-05-16 at 4 55 42 PM" src="https://user-images.githubusercontent.com/981227/168681423-c58b07c0-6f22-448e-9413-d2ef1fe1d5bf.png">

[2022-05-16 21:00] paulpilone opened #175 "Privacy policy is out of date and needs to be updated."
Need OBPS to provide new privacy policy or we can remove it altogether if we're not going to require one anymore.

[2022-05-16 21:01] paulpilone opened #176 "Remove "OceanKnowledge Tagger" from "Submit Best Practices" drop down."

[2022-05-16 21:50] #167 closed, assigned to paulpilone

[2022-05-16 21:50] #169 closed, assigned to paulpilone

[2022-05-16 21:51] #160 closed, assigned to paulpilone

[2022-05-17 00:24] #174 closed, assigned to paulpilone

[2022-05-17 00:36] paulpilone opened #179 "Provide aggregate values for search fields such as "Endorsed By""
Some search field options have a small number of possible values - provide these aggregate values to the user when the user hover overs the search field option and apply it to the search query.

Requested:

- Endorsed
- Adoption Level

Values should come from Elasticsearch if possible as aggregates. If the number of possible values is small it enough a quicker workaround would be to just hard code

[2022-05-17 00:36] #176 closed, assigned to paulpilone

[2022-05-17 03:13] paulpilone opened #180 "Update Search Tips to reflect new features."
I've shared a document with @paulineobps which includes the existing copy. We can use this Google document to coordinate updated copy and add it the source code.

[2022-05-17 03:19] paulpilone opened #181 "Search term breadcrumbs should convey the search field scope to which they apply."
When the user enters additional search fields in the search results page the field is eventually displayed as a breadcrumb underneath the search bar. However, each field could be applied to a different search field but the user has no way of knowing that.

For example in the attached screenshot each of the search fields I entered correspond to the similarly named metadata field, however, there's n

[2022-05-17 03:21] paulpilone opened #182 "Boolean operators are not returning expected results."
From the bug filed:

Boolean operators are not correct: on the landing page search for 'arno', this will give you a list of documents (6) in the search results. Finetune your search at the top of the page and choose 'author', type 'arno' again and search. This results (according to the information under the search field at the top of the page) in 'document with the word "arno" where-ever in the te

[2022-05-17 03:24] paulpilone opened #183 "Tag relationships are not being generated correctly."
From the bug filed:

When I click on "view tags", on the left hand panel there are several tags that appear and when I click on each one of them, I get only "You must select a tag to view relationships" and it does not work

[2022-05-17 03:26] paulpilone opened #184 "Search is not matching plural versions of a search field."
From the bug report:

I searched for transmissometer expecting to pick up 'Best Practices for Shipboard Underway Transmissometers. Version ONE.'  I searched in Title and All Fields but it did not find it - but does if I search for transmissometers

[2022-05-17 03:27] paulpilone opened #185 "Refereed search not finding any results."
From bug report:

No records found in DEV - 9TWO7 records found in present EDS

[2022-05-17 03:28] paulpilone opened #186 ""Sort by" styling displays a wonky line and incorrect spacing."
From bug report:

on the search result page at the top right of the page one can choose how the results will be ordered. The text showing the number of results and the text 'Sort by' is separated by a vertical line. When choosing any option (instead of 'relevance') that is longer than the word 'relevance' (e.g. 'publisher') will result in the vertical line being displayed in the middle of the text

[2022-05-17 03:32] paulpilone opened #187 "Move "Clear All" on search results page closer to the search terms."
From spreadsheet:

Clear All (now on RH corner) should be closer to the search terms display

[2022-05-17 03:33] paulpilone opened #188 "Add help text to inform user that only the current page of results will be included in a generated citation file."
From the bug report:

When you select all and there is more than one screen, the select all is not applied to the second screen
NEED SOME TEXT TO REMIND USER

[2022-05-18 17:44] paulpilone commented on #185
When searching on dev with the keyword "ocean" and Search Filter Refereed toggled on the network request looks like:

https://wtksu92k7b.execute-api.us-east-1.amazonaws.com/production/documents?keywords=&size=50&refereed=true

However, when searching on dev the request looks like:

https://j2pryq96a0.execute-api.us-east-1.amazonaws.com/prod/documents?keywords=refereed&size=50&refereed=true

It loo

[2022-05-18 18:29] paulpilone commented on #185
It also looks like even if the query request is the identical dev is not returning the same results. Looking into both the front and backend issues here.

[2022-05-18 18:53] paulpilone commented on #185
Actually, it looks like the frontend portion has been fixed thanks to #170. Need to figure out why the API fails to return any results withe `refereed=true`.

[2022-05-18 21:07] #185 closed, assigned to paulpilone

[2022-05-20 03:46] paulpilone opened #190 "Fields are not correctly applied to specific search terms."
I found this issue while writing tests for searching by keyword: currently the Elasticsearch query (keywords) is constructed using a `query_string` query and setting the fields and query e.g. if you searched

`keywords=ocean,+sea&fields=author`

you'd get:

[code]

The problem here is that this query means it's only looking at the author field for the terms ocean and sea; however, what we actually

[2022-05-20 03:47] paulpilone commented on #182
Related to #190

[2022-05-20 18:24] paulpilone opened #191 "Term and term URIs are not correctly applied to the search query."
There are a few issues here:

On develop the documents index renamed the terms field `_terms` which was not updated in the search by keyword handler. Also, we should reduce the nested term query to a simple match query.

[2022-05-20 18:57] #191 closed, assigned to paulpilone

[2022-05-24 17:36] paulpilone opened #195 "Fields with leading underscores in mapping are not included in all field searches."
Seeing this issue when trying to search by all fields:

https://discuss.elastic.co/t/field-names-starting-with-underscore-are-not-matched-with-wildcard/221254/4

This issue shows up for `_bitstreamText` because we mapped it with a leading underscore. The easiest thing to do here is to just update the mapping for documents and remove the leading underscores for any field we defined. Make sure tests

[2022-05-24 17:37] paulpilone commented on #190
Must be done after #195

[2022-05-24 18:34] #195 closed, assigned to paulpilone

[2022-05-24 20:17] paulpilone opened #197 "Synonyms filter does not work correctly."
The SPARQL query to discover synonyms and like words is not correct. Also, we want to make sure that synonyms get the same operator and field as the originating term.

[2022-05-25 16:31] paulpilone opened #199 "Fields are not correctly set in the frontend URL when search is executed."
When a search is executed the `fields` parameter in the URL changes to the active field. This is incorrect. What should happen is the `fields` parameter should reflect the individual fields for each keyword. This way you can reconstruct the search keyword group from just the URL.

There are a few lines of code that need to be updated if this fix is implemented. I've commented them with this issue

[2022-05-26 13:55] paulpilone opened #200 "Clean up unused project directories."
Remove unused project directories:

- `oop-indexer/`
- `oop-web/`

[2022-05-26 15:16] #190 closed, assigned to paulpilone

[2022-05-26 15:17] paulpilone commented on #182
Since #190 has been merged I think it's worth revisiting this ticket to see if we still have this issue.

[2022-05-26 15:20] paulpilone commented on #181
This is _technically_ possible now due to the work done in #190. Search keywords now have information about the field they're scoped too. Should be able to use those to render the field in these breadcrumbs.

[2022-05-31 20:09] paulpilone commented on #118
@pbuttigieg Could you provide a full example of your solution for one of our ontologies (ENVO is fine). When I use the query you provided I get back a pretty small list of triples. To me, it doesn't feel like I'm finding everything I need to find.

Assuming that list is correct (or we update the query to get the correct list) I'm not sure I fully understand step 2 and how to build out the relation

[2022-06-01 20:02] paulpilone commented on #197
Using queries from #117 to fix this issue. The plan is load like terms during ontology ingest and save them in the terms index. At search time, we'll query the term index for an exact match and use the like words as part of our Elasticsearch query.

[2022-06-01 20:27] paulpilone commented on #82
Will using the following query for L05, L06, and L22:

[code]

[2022-06-01 20:56] paulpilone commented on #117
See #82 for queries. Based on the queries we came up with in that issue I think it's best to combine the fetching of all labels AND synonyms/like words into a single query. This should make querying at ingest time faster and less complicated.

What I'll do is update the ingest code to also parse out additional objects (the synonyms and like words) from the queries during ingest. We'll ingest every

[2022-06-02 16:44] paulpilone commented on #197
This is a big fix:

- Update the `terms` mapping to include alternate terms (e.g. synonyms, like words, alternate labels).
- Update the ingest code to handle indexing terms and their alternate terms.
- Update the search API to fetch alternate terms for a search keyword if the synonyms option is `true`.
- Update the search API to include alternate terms in the search document
- Ensure that the bool

[2022-06-07 14:38] paulpilone opened #202 "Update Github repository default branch and protected branches."
Github should default to the `develop` branch - it's currently `master`.

`develop` should be a protected branch.

[2022-06-07 15:54] paulpilone commented on #186
Additional bug report (I'm not sure what MORE OBVIOUS means but maybe we can tweak it a little bit):

Move a bit to the left instead of sitting very close to the right hand corner
 MAKE THE 'Sort By'' LABEL  MORE OBVIOUS

[2022-06-07 16:30] paulpilone opened #203 "Add new E84 team member as a contributor to the project."
We have an intern that can contribute to this project. In order to push changes and open PRs can they be added as a Collaborator to the project?

[2022-06-07 16:36] paulpilone commented on #203
Getting his username - will update this ticket as soon as I do.

[2022-06-07 17:01] pieterprovoost commented on #202
Fixed, please check.

[2022-06-07 17:03] paulpilone commented on #203
Github user: brianandres2
Email: bandres@element84.com

[2022-06-07 17:05] paulpilone commented on #202
Looks good! I'll leave this open for a little bit longer just to make sure PRs still work as expected.

Thank you, @pieterprovoost!

[2022-06-08 07:14] arnounesco commented on #203
done, @paulpilone @brianandres2 please check and close ticket if ok

[2022-06-08 14:02] paulpilone commented on #203
Thanks @arnounesco! I'll work with Brian and we'll get this tested.

[2022-06-08 15:02] arnounesco opened #209 "it's Istanbul, it's Constantinopel"
Mini-putin has decided that the name of his country in enlish sound to much as a stupid (american) bird and because there are no other more ugent issues to tackle demands that the whole world changes Turkey to Türkiye, yes indeed with the wellknown english letter ü

[2022-06-09 15:12] #172 closed, assigned to nobody

[2022-06-09 15:15] #203 closed, assigned to paulpilone

[2022-06-09 15:15] #202 closed, assigned to paulpilone

[2022-06-09 15:17] paulpilone commented on #209
@arnounesco Are there references to Turkey in the application? I did a quick search in the repo and couldn't find any.

[2022-06-10 13:49] #187 closed, assigned to nobody

[2022-06-10 13:53] #188 closed, assigned to nobody

[2022-06-15 19:03] #199 closed, assigned to nobody

[2022-06-15 19:06] #186 closed, assigned to nobody

[2022-06-23 14:07] paulpilone opened #217 "Update the main README to describe new architecture."
The current README on `develop` still references Virtuoso. Update the README since we're not using Virtuoso anymore and check to make sure there are no other out dated docs.

[2022-06-23 17:38] paulpilone commented on #217
- Add steps for proxying requests to deployed OpenSearch instance.
- Add steps for configuring bastion with SSH keys and aws es proxy (https://github.com/abutaha/aws-es-proxy/releases/)

[2022-06-29 14:11] paulpilone commented on #16
`develop` has a refactored bulk indexer and the script is longer used. Closing this ticket.

[2022-06-30 16:39] paulpilone opened #220 "Text extractor Lambda is using outdated versions of libraries and may need to be updated or replaced."
The text extractor lambda (https://github.com/Element84/lambda-text-extractor) hasn't been updated in a long time - the original repository is no longer maintained. AWS is reporting that a few of its dependencies are out of date and may not be supported for much longer.

Because of this we need to decide between either maintaining and updating the text extractor or finding a replacement for it.

[2022-06-30 16:42] paulpilone opened #221 "Documents that require OCR text extraction are failing to ingest."
In the bitstreams downloader function we validate the response from our PDF extractor. When a document requires OCR extraction the text extractor lambda returns a slightly different response. Because this response doesn't match what we're validating against the bitstreams downloader function throws an error and the document is never ingested.

We need to update the response validator to also excep

[2022-06-30 16:44] paulpilone opened #222 "Documents that require OCR (and not simple) text extraction are resulting in 0 byte text files."
The text extractor when trying to work with a large file uses a different Lambda function. It looks like files that require this function result in 0 byte text files.

I'll update this ticket with testable documents.

[2022-06-30 16:45] paulpilone opened #223 "Bitstreams function is being invoked a few times a day even if nothing is ingested."
This is an odd one but looking at the logs it looks like the bitstreams downloader is sometimes invoked a few times a day - it's not a huge deal but we should figure out why.

[2022-06-30 16:47] paulpilone opened #224 "Text extractor writes temporary documents to the output bucket which are never cleaned up."
The text extractor when requiring the OCR function instead of the simple one writes portions of the PDF to the same bucket as the source PDF. Unfortunately, those are never cleaned up because there - and for good reasons - are no lifecycle rules on that bucket.

We don't want to keep those intermediate PDFs so we either need to change the bucket that holds PDFs during ingest and include lifecycle

[2022-07-05 17:30] paulineobps commented on #184
Plural and singular not being found  in Title or All Fields. eg  Measurement

[2022-07-05 18:49] paulineobps commented on #6
see GitHub 175

[2022-07-05 18:49] #6 closed

[2022-07-05 19:36] paulineobps commented on #162
Text OK - but the font colour needs to be darker please - it is hard to read.  thanks

[2022-07-05 19:40] paulineobps commented on #170
You can enter the term and then switch on Endorsed filter, but the result was 3 (there are 5 formally endorsed by GOOS).
WHAT METADATA FIELD/S ARE YOU USING FOR THE ENDORSED FILTER

[2022-07-05 21:26] paulineobps commented on #181
Boolean operators only display when you add a new term to the original search -

 Please enhance the help wording  to 'All terms listed affect current search. Clear them to start a new search **or add a second term and use the Boolean operators then displayed'"**

[2022-07-05 21:38] paulineobps commented on #175
ARNO WILL REPLACE THE POLICY STORED AT https://repository.oceanbestpractices.org/page/policy  - with the new text  at https://docs.google.com/document/d/1P6syL1WPYFfe76Gny-0VmkNQaWUwqmEdDCFtycb7hXo/edit?usp=sharing.  YOUR LINK ON EDS WILL GO TO THIS UPDATED VERSION I BELIEVE

[2022-07-05 21:41] paulineobps commented on #188
Do not see the added text?

[2022-07-05 21:52] paulineobps commented on #176
OK - BUT reCAPTCHA has a error.
When you click to select OCEANKNOWLEDGE TAGGER It opens but there is no obvious way to close it (except if you know to click on the OBPS logo takes you to the landing page)

[2022-07-07 01:35] paulpilone commented on #162
@paulineobps Darkened the text color:

<img width="1196" alt="Screen Shot 2022-07-06 at 9 35 27 PM" src="https://user-images.githubusercontent.com/981227/177671439-a7dfd012-31a9-4f5a-a74f-3d0c5c40e92b.png">

[2022-07-07 01:39] paulpilone commented on #170
@paulineobps We're using `obps_endorsementExternal_externalEndorsedBy`. Since there are only 5 documents would it be possible to send over the handles or UUIDs of those documents? I can verify that they're indexed correctly that way.

I know we're missing a few documents due to another issue I've already filed so it's possible they're just missing from the index and the filter is working correclty

[2022-07-07 01:48] paulpilone commented on #181
@paulineobps Updated hint text:

<img width="939" alt="image" src="https://user-images.githubusercontent.com/981227/177672684-3ee3013d-ff3f-4af6-b44f-679a390d4e08.png">

[2022-07-07 01:53] paulpilone commented on #175
@paulineobps That is correct. The Privacy Policy link on the landing page links to https://repository.oceanbestpractices.org/page/policy so the user will see any changes made to that page.

Going to close this ticket since there's not change required in our application.

[2022-07-07 01:54] paulpilone commented on #188
@paulineobps The hint appears when you hover over "Select All". We use this same interaction for the hint text on the search field scopes:

<img width="354" alt="image" src="https://user-images.githubusercontent.com/981227/177673327-00ba903e-89d9-4ce1-9b66-208e6e7a5a1e.png">

[2022-07-07 02:00] paulpilone commented on #176
@paulineobps The reCAPTCHA will not work in dev because it's configured based on a specific domain (search.oceanbestpractices.org). Since dev uses a generic CloudFront URL (d2fdejtifs20g8.cloudfront.net) the reCAPTCHA shows an error. A few thoughts here:

- I don't think the search bar should appear on this page.
- Figure out whether we should hide the reCAPTCHA on develop or if we can configure i

[2022-07-07 02:02] paulpilone opened #227 "OceanKnowledge Tagger page updates and navigation tweaks."
The OceanKnowledge Tagger page (click OceanKnowledge Tagger from the landing page) has not been updated in awhile and has a few issues:

- I don't think the search bar should appear on this page.
- Figure out whether we should hide the reCAPTCHA on develop or if we can configure it with a develop and production domain name. It currently doesn't work in develop which prevents you from testing the f

[2022-07-07 02:03] paulpilone commented on #176
Created #227 to track the issues I mentioned in my previous comment.

[2022-07-07 02:05] paulpilone commented on #175
Decided to reopen this and assign to @arnounesco.

[2022-07-07 02:07] paulpilone commented on #182
@paulineobps Could we test this again to see if boolean operators are working as expected?

[2022-07-07 02:38] paulpilone commented on #184
@paulineobps I'll see if I can tweak the documents index to stem words in the fields we search and improve the singular/plural results.

[2022-07-07 02:43] paulpilone commented on #184
Explore using the stemmer analyzer at index to see if this improves plural searches: https://www.elastic.co/guide/en/elasticsearch/reference/7.17/analysis-stemmer-tokenfilter.html.

I'm a little concerned that might grind index to a halt but it's worth testing.

[2022-07-07 11:51] arnounesco commented on #175
https://github.com/iodepo/dspace-obps/issues/26

[2022-07-07 11:51] #175 closed, assigned to arnounesco

[2022-07-07 13:46] paulineobps commented on #188
OK THANKS CLOSE

[2022-07-07 15:32] paulpilone opened #229 "Make pull request reviews optional."
Thanks for making `develop` a protected branch! Ideally, we'd require reviews on pull requests before merging. However, it's likely I'll be the only developer making code changes. When @brianandres2 returns to school I won't be able to merge any code into `develop` because pull request reviews are currently required.

Could we make pull requests optional? I believe the settings should end up looki

[2022-07-07 15:32] paulpilone commented on #229
We'll probably need these same settings on `master` too.

[2022-07-07 15:33] paulpilone commented on #229
I suppose another option here is to bump my privileges up in the repository (I _think_ admin bypasses the required review rule) but I understand if you don't want to do that.

[2022-07-07 15:42] #181 closed, assigned to paulpilone

[2022-07-07 15:42] #162 closed, assigned to paulpilone

[2022-07-07 18:24] paulineobps commented on #162
this is how it looks to me at 7 Jun 19.23 UTC

[cid:8fa4a23d-dba4-41a4-bc9d-ef00cab528bb]

Pauline
Pauline SIMPSON
Ocean Best Practices System Project Manager
https://www.oceanbestpractices.org/

UNESCO /IOC Project Office for IODE, Wandelaarkaai 7/61, 8400 Oostende, Belgium
Email: ***@***.******@***.***>;   Alternate email: ***@***.******@***.***>; Skype: Pauline Simpson
ORCID: 0000-0003-2551-574

[2022-07-07 19:52] paulineobps commented on #181
Yes great - can see now when you combine search in two different metadata fields BUT not seeing the additional text - still showing  **All terms listed affect current search. Clear them to start a new search.**  - does it take time for new edits to display?
![image](https://user-images.githubusercontent.com/24316483/177860048-960c4d98-2c6e-475f-b268-258f8a585c1c.png)

[2022-07-07 20:03] paulineobps commented on #166
Have emailed arno with this request on 5 July 2022

[2022-07-07 20:12] paulineobps commented on #176
Agree with all your above comments.  I tried tagger in production and does not work there

[2022-07-07 20:17] paulineobps commented on #182
this type query working now OK CLOSE

[2022-07-07 20:20] #182 closed, assigned to paulpilone

[2022-07-07 20:27] paulineobps commented on #170
selecting subject term and turning filter option on, now works - does not delete the subject term in search box .
endorsed records retrieved seems to be data in the wrong metadata field issue.
OK CLOSED

[2022-07-07 20:27] #170 closed, assigned to paulpilone

[2022-07-08 15:50] paulpilone commented on #181
@paulineobps This is now on develop: https://d2fdejtifs20g8.cloudfront.net/

[2022-07-08 15:52] paulpilone commented on #162
@paulineobps This is now on develop: https://d2fdejtifs20g8.cloudfront.net/

[2022-07-08 18:04] brianandres2 commented on #227
For navigation to home page I have a few ideas - let me know if you have any preferences or want me to try to find something else

'back to home page' under submit button:
<img width="1680" alt="Screen Shot 2022-07-08 at 12 25 59 PM" src="https://user-images.githubusercontent.com/107065749/178045844-51e229e0-e71b-45fa-b6ab-2ecbb16289de.png">

some type of variation of Home / Tagger at top of page

[2022-07-08 20:49] paulineobps commented on #162
Thanks Paul - OK to CLOSE - still would prefer it darker  (in fact that is a comment for the whole site about using grey - but that is for another conversation!)

[2022-07-08 21:01] paulineobps commented on #181
additional text displayed Thanks OK CLOSE

[2022-07-09 02:32] paulineobps commented on #164
**The text has not been changed it should be:**
The Ocean Best Practices System (OBPS)  is a secure, permanent global repository of ocean research, operations, data/information management and applications methodologies  (also known as “BestPractices”) **  The OBPS  invites the ocean community to submit their own methodologies  to share globally with their colleagues.

Please note, unless it is ann

[2022-07-11 15:07] paulpilone commented on #164
@paulineobps I've fixed this - sorry about that. Not sure How I missed that middle text. I'll deploy it once it's merged into `develop`.

![image](https://user-images.githubusercontent.com/981227/178296127-d7f85713-a198-48eb-a32f-3e9d3cf6ff93.png)

[2022-07-11 15:33] #164 closed, assigned to paulpilone

[2022-07-11 15:34] #200 closed, assigned to brianandres2

[2022-07-11 15:37] paulpilone commented on #227
@brianandres2 Thanks for the options! Personally I like option 2 with the Home / OceanKnowledge Tagger breadcrumb.

[2022-07-11 15:41] paulpilone commented on #164
@paulineobps Deployed to dev: https://d2fdejtifs20g8.cloudfront.net/

[2022-07-12 20:01] paulineobps opened #231 "Landing Page search on dev"
Landing page search on dev - whatever search parameter you chose from the dropdown the results page shows the search as labelled **ALL:**

![image](https://user-images.githubusercontent.com/24316483/178583380-874a918a-1af6-4c18-b24a-0db7310360b6.png)

[2022-07-12 20:03] paulineobps commented on #231
and the results are totally wrong

[2022-07-12 20:10] paulpilone commented on #231
@paulineobps The first search token is generated from the search field and parameter you supplied on the landing (main) search page. Picking a new search field in the search bar like in your screenshot will only be added to the search if you enter a parameter and click enter: e.g.

<img width="1165" alt="image" src="https://user-images.githubusercontent.com/981227/178585684-34f1ae02-fe15-43a1-b4f4

[2022-07-12 20:28] paulineobps commented on #231
sorry Paul not explaining well.

On the landing page I selected  search field 'Endorsed'  and entered  in the search box GOOS  as per our help text.  I only wanted GOOS Endorsed Practices.

On the result page it displays that my  search was ALL; Endorsed  even though it kept my original Endorsed field search box displayed above  (the 194 results are totally wrong it should be 6 or at least 6 displ

[2022-07-12 20:35] brianandres2 opened #232 "Landing page does not always apply the correct field to searches"
The landing page does not apply the correct field to searches if the search is done by pressing the keyboard button 'enter' or the magnifying glass, however it does work if the 'Search' button is clicked.

[2022-07-12 20:36] paulpilone commented on #231
@paulineobps Ah gotchya! Could it maybe be related to this issues that Brian is working on: #232

[2022-07-12 21:30] paulineobps commented on #231
Yes that is it   - can close this

[2022-07-12 21:30] #231 closed, assigned to nobody

[2022-07-21 19:33] paulineobps commented on #179
The Adoption Level query appears to be solved with including the options in the Help Text.  However the Endorsed query logic needs to be revisited

[2022-07-21 19:42] paulineobps commented on #166
on dev server 'contact us' still going to internal server error
@arnounesco

[2022-07-27 14:56] paulpilone commented on #166
@paulineobps It looks like if you click the link in my first comment (https://repository.oceanbestpractices.org/feedback) you still get a 500 error.

[2022-07-28 14:19] paulineobps commented on #166
Arno says the moment that the original page from where the link starts is something like search.oceanbestpractices.org it will be fine, nothing should be done from their side anymore

[2022-07-28 14:29] #166 closed, assigned to arnounesco

[2022-08-03 13:46] paulineobps commented on #180
Am working on it see https://docs.google.com/document/d/16x1tlty2ieuplXNPCzfYIpY_yA8rZZVdWi_Twm4Mjl4/edit?usp=sharing.  A little more to do with new search parameters particularly Endorsed which is problematic.   There will be a couple of extra images/screenshots needed

[2022-08-08 21:35] paulineobps opened #236 "DOI search - not working"
on the new interface I tried 2 DOI searches- both of which are in the database - neither worked

http://dx.doi.org/10.25607/OBP-561
10.26198/gfgr-fq47

the search help indicates using format: 10.26198/gfgr-fq47

[2022-08-09 00:30] paulpilone commented on #232
Done but not deployed. Will close this ticket after deploying to develop.

[2022-08-09 00:36] paulpilone opened #237 "Filter Options select on search results page should display "Endorsed" if the Endorsed filter is toggled on."
Currently on the search results page if you have any filter option toggled "On" the button turns blue. Clicking the button displays a dropdown with possible filters and their status.

Instead of forcing the user to click the button to view the toggled filters we should display the filter name within the "Filter Options" box.

e.g. In this situation the blue button that says "Filter Options" should

[2022-08-09 00:49] paulineobps commented on #237
Yes the above requirement spec is good

[2022-08-09 01:36] paulpilone opened #238 "Search bar hint text should match the help text of the selected search scope."
Currently when you hover over a search field scope a help text bubble appears with more information about that scope. I believe this is asking for that help text to be displayed in the search bar after a user has selected the scope. This help text should replace the existing "Search OceanBestPractices" placeholder.

If All Fields is selected default to "Search OceanBestPractices".

[2022-08-09 01:40] paulpilone opened #239 "Update search results page Sort By drop down button."

[2022-08-09 03:02] paulineobps commented on #180
Text is updated.  but need  a couple of images replaced or added. by you  I was going to bookmark the contents and sections, but maybe  there is no point because you will not be uploading this as a 'document'.  Let me know otherwise it is finished

[2022-08-09 03:06] paulineobps commented on #184
in Search Tips
'Partial matches will be included in the results (e.g. a query like “mangroves” will also retrieve “mangrove”)'

the above is not working ie search does not include singular and plural

[2022-08-09 14:34] paulpilone commented on #180
@brianandres2 Let me know if you can't access that Google Doc.

[2022-08-16 23:17] paulpilone commented on #238
Done #240

[2022-08-16 23:17] #238 closed, assigned to brianandres2

[2022-08-16 23:53] paulpilone commented on #239
Done #241

[2022-08-16 23:53] #239 closed, assigned to brianandres2

[2022-08-16 23:53] paulpilone commented on #237
Done #242

[2022-08-16 23:53] #237 closed, assigned to brianandres2

[2022-08-17 00:02] #232 closed, assigned to nobody

[2022-08-19 03:08] paulpilone commented on #180
Closed with PR #243

[2022-08-19 03:08] #180 closed, assigned to brianandres2

[2022-08-19 03:27] paulpilone opened #247 "Remove unused "bulk-items" function and related CloudFormation template."
It's no longer used. Should be cleaned out because it's similarly named to another function and will reduce the typescript errors.

[2022-08-19 03:35] paulpilone opened #249 "Document how to add a new vocabulary."
This should include:

- What and where to upload to S3.
- Instructions for increasing Neptune instance size for large vocabularies (e.g. CHEBI)

[2022-08-19 03:37] paulpilone opened #250 "Remove old (stale) documentation on Ingest and Virtuoso."
Both of those topics are no longer valid.

[2022-08-19 03:39] #250 closed, assigned to nobody

[2022-08-19 03:40] paulpilone opened #251 "Merge bitstreams-downloader functionality into metadata-downloader."
There's really no reason these need to be separate functions anymore. All they do is introduce complexity in chaining together Lambda functions. Combine them into one "dspace-item-downloader" function and make sure the CDK code is updated.

[2022-08-19 11:04] paulineobps commented on #180
Thanks Paul

I will go through this carefully today, particularly images but initial comments

  1.  Formatting - The text is way too small - can it not be the same as the original Search Tips you did?
  2.  Formatting - Spacing between sections too much ; and image positions need work
  3.  The contents list needs to be linked (clickable) to take users to the correct section

thanks

Pauline
Paul

[2022-08-19 15:46] arnounesco commented on #229
I have removed the branch protection rules for now, so no pull requests required for dev or master

[2022-08-19 18:17] paulineobps opened #252 "Search Tips Update/Format"
The implemented search tips:  text too small; spacing all wrong; contents list needs bookmarks.

I have reformatted and linked/bookmarked the contents list and made the text larger.
Attached updated version  as a Word document
[E84_Search Tips-edits15.docx](https://github.com/iodepo/OceanBestPractices/files/9384511/E84_Search.Tips-edits15.docx)

Let me know if you need more/anything else for this

[2022-08-19 19:01] paulineobps commented on #252
Apologies I sent you the word document in Web layout
here is word and pdf in print layout
[E84_Search Tips-edits15IN PRINT MODE.docx](https://github.com/iodepo/OceanBestPractices/files/9384730/E84_Search.Tips-edits15IN.PRINT.MODE.docx)
[E84_Search Tips-edits15IN PRINT MODE.pdf](https://github.com/iodepo/OceanBestPractices/files/9384733/E84_Search.Tips-edits15IN.PRINT.MODE.pdf)

[2022-08-23 02:06] #221 closed, assigned to paulpilone

[2022-08-23 02:09] #184 closed, assigned to paulpilone

[2022-08-23 02:10] #247 closed, assigned to paulpilone

[2022-08-23 03:32] paulpilone opened #253 "The EC2 bastion instance is replaced on (almost) every CDK deployment."
When you deploy via the CDK our EC2 bastion instance gets replaced by a new one. This is super annoying because you have to re-add SSH keys and re-upload the aws es proxy binary. According to this SO post this can be avoided by specifying the AMI in the bastion configuration: https://stackoverflow.com/a/67002201

This is definitely worth testing because it's not something you'd expect to happen on

[2022-08-23 15:54] paulineobps commented on #236
sorry Paul I just cannot get this to work on any DOI search

[2022-08-23 16:16] paulpilone commented on #236
@paulineobps I'm now able to find the document in your original comment using the search value `10.25607/OBP-561`. When I use the value `10.26198/gfgr-fq47` I get 33 results ... so I'm not sure if that's correct or not. e.g. here is one of my searches:

![image](https://user-images.githubusercontent.com/981227/186209383-226208f0-8423-4308-862e-1cd5b030ee1b.png)

[2022-08-23 16:46] paulineobps commented on #236
The problem is that your retrieval actual DOI is : http://dx.doi.org/10.25607/OBP-1724

sorry Paul

Pauline
Pauline SIMPSON
Ocean Best Practices System Project Manager
https://www.oceanbestpractices.org/

UNESCO /IOC Project Office for IODE, Wandelaarkaai 7/61, 8400 Oostende, Belgium
Email: ***@***.******@***.***>;   Alternate email: ***@***.******@***.***>; Skype: Pauline Simpson
ORCID: 0000-0003

[2022-08-23 17:14] paulpilone commented on #236
Ok I see it now. It actually looks like it's matching because of the `10.25607` and you can even find it because of `OBP`. I think Elasticsearch is parsing that URI on punctuation. This is tricky because it's a URI but we don't actually want to require the user to search for the entire URI - just a portion of it - but a portion we want to define. I'll try looking into this more when I can.

[2022-08-23 17:30] paulpilone commented on #184
Quick note: this will not work on dev yet until I re-index documents. I'll update this ticket when that's done so we can test it.

[2022-08-23 19:25] paulineobps opened #254 "Record numbers in PROD and DEV out by 100"
Paul you know this because you have mentioned it, but I cannot find the original request.  I know you have reindexed more than once but

The PRODUCTION indicates 1703 records

The DEV  indicates 1605

[2022-08-23 19:30] paulpilone commented on #254
This is probably due to #221. I've fixed that issue but have not re-indexed yet.

[2022-08-24 02:12] paulpilone commented on #236
@paulineobps for the DOI - do we only care about the last 2 parts of the path? e.g. the metadata field can be stored as the full URL `http://dx.doi.org/10.25607/OBP-561` and then we can store `10.25607/OBP-561` separately so the user can find that portion.

The other option is I handle DOI searches and append a wildcard to them so the actual search becomes `*10.25607/OBP-561` so the user can find

[2022-08-24 02:28] paulpilone commented on #229
Thanks Arno, this is working now.

[2022-08-24 02:28] #229 closed, assigned to arnounesco, it-iode

[2022-08-24 03:07] paulineobps commented on #236
everything before 10.25607/OBP-561 might not be unique, but every DOI will have a 10.xxxxx/nr, so go with that.  It is in the Search Tips but also in future work, we have asked for a short tip in the search box when you choose a particular search parameter so for  the DOI search it would have text in the search box that the search should  be in the format 10xxxx  (eg. 10.25607/OBP-561 or 10.1021/a

[2022-08-25 02:01] paulpilone commented on #217
- Describe step to make sure there is a Recaptcha key in SSM for the new environment.

[2022-08-25 18:02] paulpilone opened #256 "Website should download API and Recaptcha configuration from S3 bucket."
On deployment the API uploads a JSON file to an S3 bucket which includes the API URL and reCaptcha key. The website, on first load, should fetch that information so that environment variables don't have to be set as part of the build and deployment.

[2022-08-25 18:02] paulpilone commented on #217
- Describe having to update website `.env` depending on the environment (see #256)

[2022-08-25 18:03] paulpilone commented on #254
#221 has been deployed on on reindex the document count was at 1703. I think we can close this?

[2022-08-25 18:11] paulineobps commented on #254
Yes close -  I have added 2 docs since you reindexed

[2022-08-25 18:11] #254 closed, assigned to nobody

[2022-08-25 20:50] paulpilone commented on #217
- Make sure stopwords.txt exists for a new environment

[2022-08-29 16:54] paulpilone commented on #249
Added documentation to the [neptune-bulk-loader/README.md](https://github.com/iodepo/OceanBestPractices/blob/develop/neptune-bulk-loader/README.md)

[2022-08-29 16:55] #249 closed, assigned to paulpilone

[2022-09-02 12:18] paulineobps opened #257 "new Search interface Stats display stuck at 1705"
new production Search interface Stats display stuck at 1705 - it should be showing 1708
![image](https://user-images.githubusercontent.com/24316483/188141243-570d082d-5bd6-4461-a1b2-ad5e38dae613.png)

[2022-09-10 14:27] AditSaxena commented on #256
@paulpilone
Hi
I would like to work on this issue.
Can you assign it to me ?

[2022-09-20 16:06] paulineobps commented on #257
20 Sep - stats still not displaying the uptodate number (1718)  BUT also new deposits  from number 1706 onwards are not findable. Email sent directly to Brandon

[2022-09-20 17:18] paulpilone commented on #257
@paulineobps The cron lambda is running but it hasn't indexed any documents since 9/1. I just ran it again and forced it to index the documents currently published to the feed (which worked). I've reset the timer and will keep an eye on whether or not it stops indexing. I'm not 100% sure why it wasn't finding documents despite the dev function working.

[2022-09-20 17:34] paulineobps commented on #257
Paul a special thank you .   I dare not ask why on our website [****](https://www.oceanbestpractices.org/) it shows 1718 and on the search interface 1715 .  So far I have been able to find the latest deposits..  Thank you for the fix and fingers crossed the cron continues to work.   I will add some new deposits to test.

[2022-09-20 18:26] paulpilone commented on #257
I think that's a side effect of using the RSS feed to ingest documents. It looks like the feed only has at most ~6 documents listed so if the ingester missed some (it didn't index anything since 9/1) and they were removed from the feed we don't have any other way to discover new documents. I can run the bulk indexer later to make sure we discover which 3 were missed.

[2022-09-21 02:16] paulineobps commented on #257
I have added a new deposit and it is findable and the total increased by one, thanks Paul.  Is there anything I can do in the deposit flow to better support this feed and index process?

[2022-09-21 16:53] paulineobps commented on #257
I tell a lie! apologies

I can find all the 'old' deposits that were not showing or counted but I cannot find the new deposit from yesterday [**A Survey of Underwater Acoustic Data Classification Methods Using Deep Learning for Shoreline Surveillance**.](https://repository.oceanbestpractices.org/handle/11329/2072) and the stats have not moved to 1716 (on AWS)

[2022-09-23 15:43] paulpilone commented on #257
@paulineobps I've made changes to the RSS reader that I hope improves its reliability. I'm going to push that to dev now and if everything looks ok I'll eventually push it to prod.

[2022-09-23 18:03] paulpilone commented on #236
This has been temporarily fixed and I'm going to remove myself as the assignee. This should still be looked at and fixed in a more permanent way. See the linked PR for more information or look at this line: https://github.com/iodepo/OceanBestPractices/blob/6eeef70dd8adeda64fb9884522eca755ed02e6f9/api/lib/search-query-builder.ts#L43

[2022-09-23 18:04] paulpilone commented on #217
I've done a lot of this already but the main README.md file is still out of date and needs to be updated.

[2022-09-23 18:10] paulpilone commented on #256
Hi @AditSaxena!

While I've managed a good bit of the development I'm not the owner of the repository so I want to be careful about opening up contributions. I've included a few people on this comment that own the project.

@paulineobps @arnounesco If you're comfortable with it I'm happy to assign this story to Adit but didn't want to do it without you being aware of it.

[2022-09-23 19:15] paulpilone commented on #257
@paulineobps Deployed this change to both develop and production. Both are showing 1718 documents now. I think we can close this issue if you feel like new documents are being indexed correctly.

[2022-09-23 19:25] paulpilone commented on #257
Scratch that: prod shows 1715 which is inline with missing a few. I'll run the bulk indexer and it should catch them all. I believe the changes I made to the RSS reader should fix missing documents as they're published.

[2022-09-23 21:04] paulineobps commented on #257
Thanks Paul really appreciate you getting this sorted.  Fingers crossed the bulk indexer gets us to 1719 and we can search and find the last deposit (A Survey of Underwater Acoustic Data Classification<https://repository.oceanbestpractices.org/handle/11329/2072> ...)

I have a hurricane soon to loom over us, so am rushing around with 'battening down the hatches'.  No reply to your Github messages

[2022-09-28 15:33] paulineobps opened #260 "Explore Document tab does not open a document"
Any AWS/EDS search result record if I click on Explore Document - it just shows the screen but it is not populated with the full text file

[2022-09-28 15:57] paulineobps commented on #257
AWS/EDS still showing 1715 so no regular updating

[2022-09-28 16:26] paulpilone commented on #257
@paulineobps were these new documents that were published to the RSS feed? I see that the feed ingester ran today and queued a few documents up for indexing:

<img width="1173" alt="image" src="https://user-images.githubusercontent.com/981227/192834360-484cfb0d-c5b4-4d2e-9a21-377e4e04d574.png">

[2022-09-28 16:43] paulineobps commented on #257
Thanks Paul .  This is the last one input yesterday  https://repository.oceanbestpractices.org/handle/11329/2073 at

2022-09-27T21:20:42Z

Pauline
Pauline SIMPSON
Ocean Best Practices System Project Manager
https://www.oceanbestpractices.org/

UNESCO /IOC Project Office for IODE, InnovOcean Campus – Jacobsenstraat 1 8400 Oostende, Belgium
Email: ***@***.******@***.***>;   Alternate email: ***@***.

[2022-09-28 16:46] #260 closed, assigned to paulpilone

[2022-09-28 17:02] paulpilone commented on #260
@paulineobps Deployed a fix to dev and prod. This should now be working:
<img width="1623" alt="image" src="https://user-images.githubusercontent.com/981227/192844677-b090ca50-5101-489e-9e26-6d9c0d36d03a.png">

[2022-09-30 12:52] paulineobps commented on #260
Thanks Paul - tested and works

Pauline
Pauline SIMPSON
Ocean Best Practices System Project Manager
https://www.oceanbestpractices.org/

UNESCO /IOC Project Office for IODE, InnovOcean Campus – Jacobsenstraat 1 8400 Oostende, Belgium
Email: ***@***.******@***.***>;   Alternate email: ***@***.******@***.***>; Skype: Pauline Simpson
ORCID: 0000-0003-2551-5740

<http://www.iode.org>

________________

[2022-09-30 12:54] paulineobps commented on #257
Still showing 1715 and search for latest deposits does not find the titles

Pauline
Pauline SIMPSON
Ocean Best Practices System Project Manager
https://www.oceanbestpractices.org/

UNESCO /IOC Project Office for IODE, InnovOcean Campus – Jacobsenstraat 1 8400 Oostende, Belgium
Email: ***@***.******@***.***>;   Alternate email: ***@***.******@***.***>; Skype: Pauline Simpson
ORCID: 0000-0003-2551-5

[2022-09-30 15:14] paulineobps commented on #236
format 10.1021/acssensors.1c01685  is working now.

__This should still be looked at and fixed in a more permanent way._   Is this robust enough now

[2022-10-02 16:30] paulineobps opened #262 "Deposit count not increasing on feed to OBPS website"
Deposit count not increasing on feed to OBPS website https://www.oceanbestpractices.org/.  Believe it should now be displaying 1722.
Note Paul P has had issues with getting the deposit count displaying on the AWS for some time but this website page count has only just stopped.

[2022-10-15 12:29] paulineobps opened #263 "Upload of new vocabularies"
We need to urgently upload  AGROVOC and WORMS.    AGROVOC is needed by 25 November for a meeting including FAO.  In the last E84 contract the following was completed (See Item 3 in EDS Final Report for 'instructions;   https://drive.google.com/file/d/1BFwF_7ZuRdGWTKfv2lPV1MEUUX8QPLnf/view?usp=sharing)  Can we now use the E84 function to upload at least AGROVOC please.
Kolshus, Kristin (PSUR) <Kris

[2022-10-19 13:52] paulineobps commented on #262
This is still showing 1715 and the count on dspace is 1724 (and none of the titles are searchable on AWS EDS.)    Any news on a solution please.  To keep the EDS searchable for latest submissions eg. Joint Cetacean Data Programme (JDCP), Data Standard: Core Data Fields and Vocabulary Guidance, Version 1.2.](https://repository.oceanbestpractices.org/handle/11329/2078)
can we manually run the proces

[2022-11-12 11:14] paulineobps commented on #116
Are we any further with getting WoRMS loaded please?